
@media (max-width: 768px) {
    {
        overflow-x: hidden;
    }
}

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    scroll-behavior: smooth;
}

.intro {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background: url("") center no-repeat; /* ajouter une photo*/
    background-size: cover;
}

.intro_title {
    margin: 0;
    font-size: 45px;
    color: #fff;
    text-align: center;
}

.intro_text {
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.navbar {
    position: absolute !important;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.video {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 56.25%;
    z-index: -1;
}

.video_media {
    width: 100%;
    height: auto;
}

.img_comp {
    position: relative;
    background-size: cover;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 1.0s;
}


.btn.btn-info:not(:hover) {
    background: #26a5b9 !important;
    border-color: transparent !important;
}
.btn.btn-info:hover {
    background: #148293 !important;
}

.footer-page {
    background: #26a5b9;
}